.bg-dark {
  background-color: #006515!important;
}
.navbar-nav {
  &.account {
    .nav-link {
      color: #00e5ff;
    }
  }
}
.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}