.rating {
  cursor: default;
  padding: 0px;
}
.rating-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 1px;
  border: 2px solid #8e8e8e;
  border-radius: 50%;
}

.rating-item.active {
  border-color: darkgrey;
  background-color: green;
}

.lg {
  width: 20px;
  height: 20px;
}

