.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .skill-item {
    // padding: 5px 15px;
    margin: 7px;
    // border: 1px solid lightsteelblue;
    // background: #ededed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2;

    &.header {
      text-transform: uppercase;
      background: none;
      border: none;
      display: block;
      width: 100%;
    }
  }

  .name {
    font-size: 1rem;
    font-weight: bold;
  }

  .experience {
    font-weight: normal;
    font-size: 0.7rem;
    margin-top: -14px;
  }
}
