ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: inline-block;
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 5px;

    .fa {
      padding-left: 10px;
      color: lightgrey;
    }

    &.selected {
      color: green;
      background-color: #d0ff15;
      border-color: green;

      .fa {
        color: green;
      }
    }
  }
}

.alignment-links {
  li{
    padding: 10px;
    margin: 2px;
    border: none;

    .fa {
      padding: 0px;
    }
  }
}
.settings {
  float: right;
  text-decoration: none;
  font-size: 18px;

  .fa {
    margin-right: 10px;
  }
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  margin: 10px 0px;
}

.modal-header {
  background-color: cornflowerblue;
}