<!-- Modal -->
<div class="modal fade" id="profileSectionPickerModal" tabindex="-1" role="dialog" aria-labelledby="profileSectionPickerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileSectionPickerModalLabel">Profile Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClicked($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="section-header">Select View Items for this section</div>
          <ul>
            <li *ngFor="let cmp of viewComponents"
            (click)="toggleSelectComponent(cmp.name)"
            [class.selected]="isSelected(cmp.name)">
              <span>{{cmp.label}}</span>
              <span class="fa fa-check"></span>
            </li>
          </ul>
          <hr>
          <div class="section-header">Section content alignment</div>
          <ul class="alignment-links">
            <li *ngFor="let nav of contextNav" [title]="nav.title">
              <a class="" href="#" (click)="contextNavClick($event, nav, rowIndex, colIndex)" >
                <i class="fa {{nav.className}}"></i>
              </a>
            </li>
          </ul>
          <hr>
          <a class="link settings" href="#" (click)="editColumnClick($event)">
            <span class="fa fa-cog"></span>Change column layout
          </a>
          <div class="section-header">Change Column layout</div>
          <i class="text-danger"><small>* Changing Column layout will loose the existing View Items for this section.</small></i>          
          <pba-column-form *ngIf="isColumnFormVisible" [column]="column" (formClosed)="columnFormCloseClick($event)"></pba-column-form>
      </div>
    </div>
  </div>
</div>
