<pba-background [bgImageUrl]="'/assets/home-banner.jpg'">
  <div class="container-fluid">
    <div class="row>">
      <div class="col-sm-12">
          <h2>Profile Management</h2>
          <p>
            Create and manage your profiles/resumes at one place. Easy and simple steps to go with your profile management.
          </p>
          <h4> Features </h4>
          <ul>
            <li> Profile dashboard </li>
            <li> Manage Profile </li>
            <li> Add/update profile, experience, projects, employers, education etc. </li>
            <li> Choose layout for your profile </li>
            <li> Create custom layout for your profile </li>
            <li> Layouts dashboard </li>
            <li> Drag and drop your profile items on your layout </li>
            <li> View/Print your profile </li>
            <li> Create new Profile from existing one </li>
          </ul>
          <a style="float:right;" class="btn btn-primary" [routerLink]="['/profiles/0/manage']">Let's Get Started<i class="fa fa-new"></i></a>
      </div>
    </div>
  </div>
</pba-background>

