.dnd-drag-start {
    -moz-transform:scale(0.99);
    -webkit-transform:scale(0.99);
    transform:scale(0.99);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    background-color: greenyellow!important;
    border: none;
}

.dnd-drag-over {
    background-color: greenyellow!important;
    border: none;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.99);
  -webkit-transform:scale(0.99);
  transform:scale(0.99);
  opacity:0.7;
  background-color: greenyellow!important;
  border: none;
}

.education-item {
    margin: 30px 0px;
    cursor: move!important;
    background-color: #f7f7f7;
    border-top: 20px solid #04aeff;
}
.education-item .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-mode .education-item {
    margin: 4px 0px;
    border-top: none;
    padding: 5px 15px;
}
.list-mode .education-item .row {
    margin-top: 1px;
    margin-bottom: 1px;
}