.layout-title {
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  
  &:focus, &:hover {
    border: 1px solid lightblue;
  }
}

.layout {
  .row {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dotted lightblue;
  }

  .layout-content-container {
    position: relative;
    padding-right: 15px;  
    padding-top: 5px;  

    .settings {
      top: 0px;
      right: 0px; 
      display: none;
    }

    &:hover {
      &>.settings {
        display: block;
      }
    }

    .layout-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  
      min-height: 100px;
      background: #e9e9e9;
      margin: 10px -5px;
      padding: 15px;   
      
      .settings {
        top: 0px;
        right: 5px;
        display: none;
      }

      &:hover {
        .settings {
          display: block;
        }
      }
    }
  }

  .settings {
    position: absolute;
    display: none;
    top: 10px;
    right: 15px;
  }

}
