.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

  .skill-item {
    padding: 5px 15px;
    margin: 2px;
    border: 1px solid lightsteelblue;
    background: #9ffd26;
    border-radius: 5px;
  }
}
