.profile-section-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.layout-title {
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;

  &:focus, &:hover {
    border: 1px solid lightblue;
  }
}

.layout {
  .row {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px dotted lightblue;
  }

  .layout-content-container {
    position: relative;
    padding: 0px;
    margin: 0px;
    transition: border 0.5s ease-out;
    border: 10px solid white;

    .settings {
      top: 0px;
      right: 0px;
      display: none;
    }
    .row-settings {
      z-index: 1;
    }
    &:hover {
      border: 10px solid rgb(217, 255, 0);
      &>.settings {
        display: block;
      }
    }

    .layout-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
      background: rgb(155, 226, 253);;
      padding: 0px;
      margin: 0px;

      .settings {
        top: 0px;
        right: calc(50% - 27px);
        display: none;
        font-size: 30px;
        background: #001c5f;
        padding: 0px 15px 5px 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 0px 10px 0px black;
      }

      &:hover {
        .settings {
          display: block;
        }
      }
    }
  }

  .settings {
    position: absolute;
    display: none;
    top: 10px;
    right: 15px;
  }

  &.readonly-view {
    background: white;
    border: 10px solid white;

    .row {
      border: none;
    }
    .layout-content-container {
      border: none;

      &:hover {
        &>.settings {
          display: none;
        }
      }

      .layout-content {
        margin: 0px;
        background: none;
        border: none;
      }
    }
  }

}

:host ::ng-deep {
  .card {
    margin: 15px 0px;
    border: none;
    .card-header {
      background: none;
      border-width: 5px;
    }
    .row {
      padding: 7px 0px;
    }
    ul {
      li {
        padding: 4px 0px;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 5px 0px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: 0.8em;
    }
    h5 {
      font-size: 0.6em;
    }
    h6 {
      font-size: 0.4em;
    }
  }

}
