<div class="card projects-view">
    <div class="card-header">
      <h2 class="card-title">Projects | <span class="badge badge-secondary">{{viewData?.length}} Projects</span></h2>
    </div>
    <div class="card-body">
      <div class="container-fluid info-section" *ngFor="let proj of viewData; let serialNo = index; let totalProjects = count">
        <div class="row">
          <div class="col-sm-2 left-info">
              <div>{{proj.from | date:'MMM, y'}}</div>
              <div>{{(proj.to | date:'MMM, y') ||  'Present'}}</div>
              <div class="duration"><i><strong>{{proj.duration}}</strong></i></div>
              <div class="circle"><span>{{totalProjects - serialNo}}</span></div>
          </div>
          <div class="col-sm-10 right-info">
              <h4 class="font-5">{{proj.name}}</h4>
              <h3 class="font-4"><span class="font-2">Client: </span>{{proj.clientName}}</h3>
              <summary class="font-4 padding-top-10">{{proj.summary}}</summary>
              <h3 *ngIf="proj.technologies.length" class="font-4 padding-top-10">Technologies used:</h3>
              <div *ngIf="proj.technologies.length" class="padding-top-10">
                <span class="font-4 label">{{proj.technologies.join(', ')}}</span>
              </div>
              <h3 *ngIf="proj.roles.length" class="font-4 padding-top-10">My Roles in the Project:</h3>
              <ul *ngIf="proj.roles.length" class="padding-top-10">
                <li class="font-4" *ngFor="let role of proj.roles">{{role}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
