<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 disclaimer-text">
        <i>I here by declare that, the information given above is correct to best of my knowledge.</i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 left-section">
        <div class="font-4">Date: ___________ </div>
        <div class="font-4">Place: __________ </div>
    </div>
    <div class="col-sm-6 right-section">
        <h5 class="font-5 padding-bottom-20">(Signature)</h5>
        <h5 class="font-5">{{viewData.firstName | uppercase}} {{viewData.lastName | uppercase}}</h5>
    </div>
  </div>
</div>
