.input-group {
  justify-content: flex-end;
}

.btn-toolbar {
  justify-content: flex-end;

  .btn {
    margin: 15px;
    padding: 15px 30px;
    background: #0db3da;
    font-size: 20px;
  }

  .btn-update-profile {
    background: #0bc7ae;
  }

  .btn-duplicate-profile {
    background: #f5b810;
  }
}

.profile-card {
  h1 {
    font-family: cursive;
  }
  p {
    padding: 30px 0px;
    line-height: 1.8;
  }
}
