<div class="card" *ngFor="let additional of viewData">
  <div class="card-header" *ngIf="additional.title">
    <h2 class="card-title">{{additional.title}}</h2>
  </div>
  <div class="card-body">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-12">
            <summary [hidden]="!additional.summary" class="">{{additional.summary}}</summary>
            <ul [hidden]="!additional.bullets.length" class="">
              <li class="" *ngFor="let bullet of additional.bullets">{{bullet}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
