:host {
  .card {
    border-left: 1px solid rgb(237, 237, 237);
  }

  .card-header {}
}

.row {
  &:first-child {
    border-top: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.name {
  margin: 0px;
  padding: 0x;
  font-size: 0.8rem;
  font-weight: normal;
}

.experience {
  font-size: 0.8rem;
  border-left: 1px solid rgb(237, 237, 237);
  padding-left: 4px;
  padding-right: 7px;
  margin-left: 4px;
  color: rgb(39, 39, 39);
  margin-top: 2px;
}

.rating {
  padding-left: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.skills-container {
  border-left: 1px solid rgb(209, 209, 209);
  padding-top: 0;
}

.item-container {
  margin: 5px;
  border: 1px solid rgb(235, 235, 235);
}
