$circleSize: 30px;
$circleWidth: 2px;
$contentLeftSpaceing: 15px;
$line-color: #c0e0f2;

.employers-small-view {
  .container-fluid {
    padding: 0px;
  }

  .card-header {
    background: $line-color;
  }

  .card-title {
    justify-content: space-between;
    display: flex;
  }

  .row {
    position: relative;
    margin-left: 5px;
    margin-bottom: 1px;
    border-left: $circleWidth solid $line-color;
    background: $line-color;

    .item {
      padding-left: ($circleSize/2)-1;
    }

    .circle {
      position: absolute;
      display: block;
      left: -($circleSize/2)-1;
      top: ($circleSize/2)+1;
      width: $circleSize;
      height: $circleSize;
      background: $line-color;
      border: $circleWidth solid $line-color;
      border-radius: 50%;
      text-align: center;
    }

    .name {
      justify-content: space-between;
      display: flex;
      margin: 0px;
      line-height: $circleSize;
      padding-left: 15px;
      border-bottom: $circleWidth solid $line-color;

      small {
        text-align: right;
      }
    }

    .designation {
      justify-content: space-between;
      display: flex;
      padding-left: $contentLeftSpaceing;

      small {
        text-align: right;
      }
    }

    .duration {
      padding-left: $contentLeftSpaceing;
    }

    .more {
      padding-left: $contentLeftSpaceing;
      padding-top: 15px;
      background-color: white;

      summary {
        display: flex;
        
      }
    }
  }
}
